[Unit]
Description=HSSI IoT ever 5 minite

[Timer]
OnBootSec=1min
#OnCalendar=*-*-* *:*:00
OnUnitActiveSec=5min
Unit=hssa_iot.service
#Persistent=true

[Install]
WantedBy=timers.target

